body {
    align-items: center;
    background-color: #2b4b63;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.container {
    text-align: center; /* Center the content inside the container */
}

#computer-svg {
    height: auto;
    margin-bottom: 20px; /* Add margin at the bottom to create space between SVG and button */
    max-width: 100%;
    width: 100%;
}

#play {
    background-color: #ecba16; /* Main color */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    color: #fff; /* Text color */
    cursor: pointer; /* Cursor on hover */
    padding: 10px 20px; /* Adjust padding as needed */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

    /* Text outline */
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);

    /* Hover state */
    &:hover {
        background-color: #d09c13; /* Darker color on hover */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; /* Box shadow on hover */
    }

    /* Active state */
    &:active {
        background-color: #b7810d; /* Even darker color when clicked */
        box-shadow: none; /* Remove box shadow when clicked */
    }

    /* Disabled state */
    &:disabled {
        background-color: #ecba16; /* Main color */
        box-shadow: none; /* Remove box shadow when disabled */
        cursor: not-allowed; /* Change cursor to indicate the button is not clickable */
        opacity: 0.5; /* Lower opacity to visually indicate the disabled state */
    }
}
